//text colors
$mainTextColor:#19193E;
$secondaryTextColor:#7b7b82;
$brandTextColor:#4d1ed3;
$subTextColor:#a3a3a3;

//bacground colors
$mainBackColor: #f5f6fa;
$secondaryBackColor:#fff;

//border colors
$mainBorderColor:#eef3f6;
$secondaryBorderColor:#f1f1f1;

//brand colors
$mainBrandColor:#4d1ed3;
$secondaryBrandColor:#19193e;

//yes and no colors
$confirmColor:#72ebba;
$rejectColor:#fc1946